@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@seaBlue: rgb(10, 105, 148);
@sand: rgb(239, 210, 121);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: #222;
  color: #EEE;
  padding: 10px 20px;
}

.logo {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.content {
  padding: 20px;
}

.next-race {
  flex: 1;
  display: flex;
  background-color: @seaBlue;
  align-items: center;
  justify-content: center;

  a {
    font-size: 46px;
    background-color: rgba(255,255,255,0.2);
    color: white;
    border-radius: 20px;
    padding: 20px 30px;
    text-decoration: none;

    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}

.game {
  flex: 1;
}