@(nextRaceMaybe: Option[Race])

@main() {
    @for(r <- nextRaceMaybe) {
      <div class="next-race">
        <a href="@routes.Races.show(r.id.stringify)">Next race starts in <span id="timer">?</span></a>
      </div>

      <script type="text/javascript">

      var startTime = @r.startTime.getMillis;
      var timerDiv = document.getElementById("timer");

      function updateTimer() {
        if (Date.now() > startTime) {
          window.location.reload();
        } else {
          timerDiv.innerText = formatTimer(Date.now(), startTime);
        }
      }

      setInterval(updateTimer, 1000);
      updateTimer();

      </script>
    }

}

