@(race: Race, websocketUrlBase: String)

@import org.joda.time.DateTime
@import play.api.libs.json.Json
@import models.JsonFormats.raceUpdateFormat

@main() {

  <div class="game" id="game"></div>

  <script type="text/javascript" src="http://elm-lang.org/elm-runtime.js"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/game.js")"></script>
  <script type="text/javascript">

  var boatId = Date.now().toString();
  var raceId = @Html(Json.toJson(race.id.stringify).toString());
  var ws = new WebSocket("@websocketUrlBase/races/" + raceId + "/gameSocket/" + boatId);

  var gameDiv = document.getElementById('game');
  var input = @Html(Json.toJson(race.initialUpdate).toString());
  var game = Elm.embed(Elm.ShiftMaster, gameDiv, { raceInput: input });

  ws.onmessage = function(event) {
    var data = JSON.parse(event.data);
    if (data.now < data.startTime) {
      document.title = formatTimer(data.now, data.startTime);
    } else {
      document.title = "Race started!"
    }
    game.ports.raceInput.send(data);
  };

  ws.onopen = function() {
    game.ports.raceOutput.subscribe(function(state) {
      ws.send(JSON.stringify(state))
    });

  };

  </script>

}